* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/* NAVBAR Y LOGO */

.navlocal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.navlocal ul li {
  padding: 30px;
}

.nav-item {
  transition: all 0.4s;
  margin-top: 20px;
}
.nav-item:hover {
  transform: scale(1.1);
}

/* LOGO */

.logo {
  transition: all 1s;
  margin-top: 20px;
  width: auto;
  height: auto;
}
.logo img:hover {
  transform: scale(1.5);
}

/* FONDO INDEX */

.fondo-index {
  height: 53rem;
  background-image: url(../Img/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.indexcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.indexcont h1 {
  margin-top: 20rem;
  background-color: rgba(161, 161, 161, 0.596);
  border-radius: 30px;
  text-shadow: 3px 3px gray;
}

.sub-in {
  font-size: 60px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px gray;
}

.sub-in2 {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px gray;
}

/* Fondo perros */

.tituloh2 {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px gray;
  background-color: rgba(161, 161, 161, 0.596);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fondo-indexp {
  height: 53rem;
  background-image: url(../Img/Fondo-alimentop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.indexcontp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.indexcontp h1 {
  margin-top: 20rem;
  background-color: rgba(161, 161, 161, 0.596);
  border-radius: 30px;
  text-shadow: 3px 3px gray;
}

.sub-in {
  font-size: 60px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px gray;
}

.sub-in2 {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px gray;
}

/* Fondo gatos */

.fondo-indexg {
  height: 53rem;
  background-image: url(../Img/Fondo-alimentog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.indexcontg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.indexcontg h1 {
  margin-top: 20rem;
  background-color: rgba(161, 161, 161, 0.596);
  border-radius: 30px;
  text-shadow: 3px 3px grey;
}

.sub-in {
  font-size: 60px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px gray;
}

.sub-in2 {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px gray;
}

/* Fondo Peceras */

.fondo-indexpc {
  height: 53rem;
  background-image: url(../Img/Fondo-acuario.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.indexcontpc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.indexcontpc h2 {
  margin-top: 20rem;
  background-color: rgba(161, 161, 161, 0.596);
  border-radius: 30px;
  text-shadow: 3px 3px gray;
}

.sub-in {
  font-size: 60px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px gray;
}

.sub-in2 {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px gray;
}

/* Fondo contacto */

.fondo-indexc {
  height: 53rem;
  background-image: url(../Img/Contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.indexcontc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.indexcontc h2 {
  margin-top: 20rem;
  background-color: rgba(161, 161, 161, 0.596);
  border-radius: 30px;
  text-shadow: 3px 3px gray;
}

.sub-in {
  font-size: 60px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px gray;
}

.sub-in2 {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px gray;
}

/* FORMULARIO */

.contenedorformulario {
  border: solid 3px black;
  max-width: 750px;
  margin: 35px auto;
  position: relative;
  background-color: beige;
  box-shadow: 7px 13px 37px #000;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

#name_input {
  float: left;
  width: 35%;
  border: none;
  margin-bottom: 20px;
}

#email_input {
  float: right;
  width: 100%;
  margin-bottom: 20px;
  border: none;
}

#telephone_input {
  width: 100%;
  padding: 5px;
  border: none;
  margin-bottom: 20px;
}

#message_input {
  float: none;
  width: 100%;
  border: none;
}

.submit input {
  display: flex;
  justify-content: center;
  border: none;
  margin: auto;
  margin-top: 15px;
  width: 50%;
  background: #1f53c5;
  padding: 12px;
  color: white;
  font-size: 16px;
}

.contact_form p {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* FOOTER */
.footer {
  background-color: rgba(0, 0, 0, 0.925);
  height: 100px;
}
.footer ul {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer ul p {
  color: white;
}
.footer ul li a {
  color: white;
}

/* Estilo de cards */
.cardp {
  background-color: #10aaec;
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}
.cardp:hover {
  transform: scale(1.1);
  background-color: #8cdbff;
  transition: 0.3s;
}

/* CARDS GATOS */

.cardg {
  background-color: #10aaec;
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}
.cardg:hover {
  transform: scale(1.1);
  background-color: #cc40f7;
  transition: 0.3s;
}

/* CARDS PECES */

.cardz {
  background-color: #10aaec;
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}
.cardz:hover {
  transform: scale(1.1);
  background-color: #ff6842;
  transition: 0.3s;
}

/* CARDS ACCESORIOS */

.carda {
  background-color: #000000;
  color: white;
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: 7px 13px 37px rgb(255, 255, 255);
}
.carda:hover {
  transform: scale(1.1);
  background-color: #fff457;
  transition: 0.3s;
  color: #000;
}





/* Tamaño de las CARDS */

.cartas {
  margin-top: 50px;
}
.cartas div {
  padding: 15px;
}

/* MEDIAS */

@media (max-width: 500px) {
  .footer ul {
    display: grid;
    grid-template-columns: 1, 1fr;
  }
  .footer ul li {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .galeria {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 600px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section iframe {
    width: auto;
    height: auto;
  }
}

/* ESTILO DE BODY */

.body-index {
  background-color: #51bbfe;
}

.body-alimentos {
  background-color: rgba(0, 0, 0, 0.733);
}

.body-accesorios {
  background-color: rgba(0, 0, 0, 0.733);
}

.body-peceras {
  background-color: rgba(0, 0, 0, 0.733);
}

.body-form {
  background-color: rgba(0, 0, 0, 0.733);
}
