* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');



/* NAVBAR Y LOGO */

.navlocal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.navlocal ul li {
  padding: 30px;
}

.nav-item{
  transition: all 0.4s;
  margin-top: 20px;
}
.nav-item:hover{
transform: scale(1.1);
}

/* LOGO */

.logo {
  transition: all 1s;
  margin-top: 20px;
  width: auto;
  height: auto;
}
.logo img:hover {
  transform: scale(1.5);
}

/* FONDO INDEX */

.fondo-index{
  height: 53rem;  
  background-image: url(../Img/Background.jpg);  
  background-repeat: no-repeat;  
  background-size: cover;   
  background-position: center;  
  background-attachment: fixed; 
}

.indexcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.indexcont h2 {
  margin-top: 20rem;
  text-shadow: 3px 3px gray;
}

.sub-in {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px gray;
}

.sub-in2 {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px gray;
}

/* Fondo perros */

.fondo-indexp{
  height: 53rem;  
  background-image: url(../Img/Fondo-alimentop.jpg);  
  background-repeat: no-repeat;  
  background-size: cover;   
  background-position: center;  
  background-attachment: fixed; 
}

.indexcontp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.indexcontp h2 {
  margin-top: 20rem;
  text-shadow: 3px 3px gray;
}

.sub-in {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px gray;
}

.sub-in2 {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px gray;
}


/* Fondo gatos */

.fondo-indexg{
  height: 53rem;  
  background-image: url(../Img/Fondo-alimentog.jpg);  
  background-repeat: no-repeat;  
  background-size: cover;   
  background-position: center;  
  background-attachment: fixed; 
}

.indexcontg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.indexcontg h2 {
  margin-top: 20rem;
  text-shadow: 3px 3px grey;
}

.sub-in {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px gray;
}

.sub-in2 {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px gray;
}


/* Fondo Peceras */

.fondo-indexpc{
  height: 53rem;  
  background-image: url(../Img/Fondo-acuario.jpg);  
  background-repeat: no-repeat;  
  background-size: cover;   
  background-position: center;  
  background-attachment: fixed; 
}

.indexcontpc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.indexcontpc h2 {
  margin-top: 20rem;
  text-shadow: 3px 3px gray;
}

.sub-in {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px gray;
}

.sub-in2 {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px gray;
}

/* Fondo contacto */

.fondo-indexc{
  height: 53rem;  
  background-image: url(../Img/Contacto.jpg);  
  background-repeat: no-repeat;  
  background-size: cover;   
  background-position: center;  
  background-attachment: fixed; 
}

.indexcontc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.indexcontc h2 {
  margin-top: 20rem;
  background-color: rgba(161, 161, 161, 0.596);
  border-radius: 30px;
  text-shadow: 3px 3px gray;
}

.sub-in {
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px gray;
}

.sub-in2 {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px gray;
}


/* FORMULARIO */

.contenedorformulario {
  border: solid 3px black;
  max-width: 768px;
  margin: 35px auto;
  position: relative;
  background-color: beige;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.name {
  float: left;
  width: 45%;
}

.email {
  float: right;
  width: 45%;
}

.telephone {
  width: 100%;
}

.message {
  float: none;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.form {
  background-color: beige;
}




/* FOOTER */
.footer {
  background-color: rgba(0, 0, 0, 0.925);
  height: 100px;
}
.footer ul {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer ul p {
  color: white;
}
.footer ul li a {
  color: white;
}

.cardp {
  background-color: #10aaec;
  transition: 0.3s;
  border-radius: 10px;
}
.cardp:hover {
  transform: scale(1.1);
  background-color: #8cdbff;
  transition: 0.3s;
}

.cardg {
  background-color: #10aaec;
  transition: 0.3s;
  border-radius: 10px;
}
.cardg:hover {
  transform: scale(1.1);
  background-color: #cc40f7;
  transition: 0.3s;
}

.cardz {
  background-color: #10aaec;
  transition: 0.3s;
  border-radius: 10px;
}
.cardz:hover {
  transform: scale(1.1);
  background-color: #ff6842;
  transition: 0.3s;
}

.cartas {
  margin-top: 50px;
}
.cartas div {
  padding: 15px;
}





/* MEDIAS */

@media (max-width: 500px) {
  .footer ul {
    display: grid;
    grid-template-columns: 1, 1fr;
  }
  .footer ul li {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .galeria {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 600px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section iframe {
    width: auto;
    height: auto;
  }
}


h2 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: xx-large;
}


.body-index {
  background-color: #51bbfe;
}

.body-perros {
 background-color: rgba(0, 0, 0, 0.733);
}

.body-gatos {
  background-color: rgba(0, 0, 0, 0.733);
}

.body-peceras {
  background-color: rgba(0, 0, 0, 0.733);
}

.body-form {
  background-color: rgba(0, 0, 0, 0.733);
}

/* .section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.section h2 {
  text-align: center;
} */
